#sec-15 {
  position: relative;
  padding-top: 4.9rem;
  padding-bottom: 15.9rem;
  background-color: #f3f0e9;
  .row:first-of-type [class*=col-]:first-of-type {
    margin-bottom: 2rem;
  }
  .row:first-of-type {
    margin-bottom: 4.2rem;
  }
  background-image: url("img/sec-15/bg-sm.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.sec-15__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}
.sec-15__subtitle {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
  line-height: 1.5;
  padding-left: .3rem;
  padding-right: 2rem;
  margin-bottom: 1.4rem;
}

.sec-15__text {
  font-family: OpenSansB;
  font-size: pxToRem(18px);
  span {
    display: inline-block;
    background-color: #f9e561;
    margin-bottom: .4rem;
    padding: 0 .4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sec-15__img-description {
  font-family: PlayD;
  font-size: pxToRem(18px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .5rem;
}

.sec-15__img-container {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: center;
}

.sec-15__under-img-text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
  text-align: center;
}

#sec-15 .sec-08__form {
  padding: 4.7rem .5rem 4.2rem .5rem;
}

#sec-15 .sec-08__form-title {
  margin-bottom: .8rem;
}

#sec-15 .sec-08__form-subtitle {
  margin-bottom: 1.5rem;
}

.input-container {
  padding: 0 .9rem;
}

.sec-15__important-block {
  position: relative;
  background-color: #f9e561;
  padding: 7.1rem 1rem 5.8rem 1rem;
  z-index: 0;
  &::before {
    display: block;
    content: "!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbed91;
    font-family: PlayD;
    font-size: pxToRem(522px);
    z-index: -1;
  }
}

.sec-15__important-title {
  font-family: PlayD;
  font-size: pxToRem(24px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .7rem;
}

.sec-15__important-text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  text-align: center;
  color: #66655d;
  line-height: 1.5;
}

@media (max-width: 767px) {
  #terms {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-15 {
    padding-top: .6rem;
    padding-bottom: 17.3rem;
    background-image: url("img/sec-15/bg-md.png");
    .row:first-of-type {
      margin-bottom: 5.9rem;
    }
  }

  .sec-15__title {
    font-size: pxToRem(48px);
    text-align: center;
    padding: 0 4rem;
    line-height: 1.5;
    margin-bottom: .9rem;
  }

  .sec-15__subtitle {
    text-align: center;
    padding: 0 12rem;
  }

  .sec-15__picture {
    display: flex;
    justify-content: center;
  }

  .sec-15__text {
    position: absolute;
    bottom: -31.1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    text-align: center;
  }

  .sec-15__img-description {
    font-size: pxToRem(24px);
    margin-bottom: 1rem;
  }

  .sec-15__img-container {
    margin-bottom: 10.8rem;
  }

  #sec-15 .sec-08__form {
    padding: 3.8rem .5rem 4.4rem;
  }

  #sec-15 .sec-08__form-title {
    margin-bottom: .6rem;
  }

  .input-container {
    padding: 0 7.9rem;
  }

  #sec-15 .sec-08__form-subtitle {
    margin-bottom: 2.8rem;
  }

  .sec-15__important-block {
    margin: auto;
    width: 37rem;
    padding: 9.6rem 1rem 9.4rem;
  }

  .sec-15__important-text {
    padding: 0 6rem;
  }

  // footer
  #footer {
    display: block;
    padding: 1.1rem 0 .7rem 0;
  }

  .footer__container {
    max-width: pxToRem(1170px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.6rem 0 1.5rem;
  }

  #footer .logo-container {
    width: 3.2rem;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer__data-container {
    margin-bottom: 0;
  }

  .footer__btn-container {
    margin-bottom: 0;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  #sec-15 {
    padding-top: 4.1rem;
    background-image: url("img/sec-15/bg-lg.png");
    .row:last-of-type [class*=col-]:first-of-type {
      order: 2;
      padding-left: 0;
    }
    .row:last-of-type [class*=col-]:last-of-type {
      padding-right: 0;
    }
  }

  #sec-15 .row:first-of-type {
    margin-bottom: 6.8rem;
  }

  .sec-15__title {
    padding: 0;
    padding-top: 1.3rem;
    text-align: left;
  }

  .sec-15__subtitle {
    text-align: left;
    padding: 0;
    padding-right: 7rem;
    margin-bottom: 5.8rem;
  }

  .sec-15__text {
    position: static;
    text-align: left;
    transform: translateX(0);
  }

  .sec-15__img-container {
    padding-left: 5.7rem;
    margin-bottom: 3.3rem;
  }

  .sec-15__img-description {
    padding-left: 4.2rem;
  }

  .sec-15__under-img-text {
    padding-left: 2.4rem;
  }

  .sec-15__important-block {
    width: 35.7rem;
  }

  .sec-08__form-container {
    width: 35.7rem;
  }

  .input-container {
    padding: 0 7rem;
  }

  // footer
  #footer {
    display: block;
    padding: 1.1rem 0 0.9rem 0;
  }

  #footer .footer__container {
    max-width: pxToRem(1170px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.1rem 0 .9rem;
  }

  #footer .footer__data-container {
    display: flex;
    align-items: center;
  }

  #footer .footer__date {
    margin-bottom: 0;
    margin-right: 7rem;
  }
}
