#sec-03 {
  padding-top: 1.8rem;
  padding-bottom: 5.7rem;
  background-color: #f3f0e9;
  .row:first-child [class*=col-]:first-child {
    margin-bottom: 1.7rem;
  }
  .row:first-child {
    margin-bottom: 1.1rem;
  }

  .row:last-child [class*=col-]:first-child {
    margin-bottom: 2.7rem;
  }
}

.sec-03__title {
  font-family: Play;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.1rem;
}

.sec-03__subtitle {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
}

.sec-03__under-img-text {
  font-family: PlayD;
  font-size: pxToRem(24px);
  span {
    display: inline-block;
    background-color: #f9e561;
    padding: 0 .1rem;
    margin-bottom: .5rem;
    padding: 0 .6rem;
    line-height: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sec-03__text-title {
  font-family: Play;
  font-size: pxToRem(18px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .6rem;
}

.sec-03__text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  text-align: center;
  color: #66655d;
  line-height: 1.5;
}

@media (min-width: 768px) {
  #sec-03 {
    position: relative;
    padding-top: 6.1rem;
    padding-bottom: 9.5rem;
    .row:first-child [class*=col-]:first-child {
      margin-bottom: 4.3rem;
    }
    .row:last-child [class*=col-]:first-child {
      margin-bottom: 1.3rem;
    }
  }

  .sec-03__title {
    font-size: pxToRem(48px);
    text-align: center;
    margin-bottom: 2.3rem;
  }

  .sec-03__subtitle {
    padding-left: 4.4rem;
    padding-right: 24rem;
  }

  .sec-03__picture {
    display: flex;
    justify-content: center;
  }

  .sec-03__under-img-text {
    width: 20rem;
    position: absolute;
    top: -31.3rem;
    right: 6.7%;
  }

  .sec-03__text-title {
    font-size: pxToRem(24px);
    margin-bottom: 1rem;
  }

  .sec-03__text {
    padding: 0 8.1rem;
  }
}

@media (min-width: 1200px) {
  #sec-03 {
    padding-top: 8.5rem;
    padding-bottom: 10.4rem;
    z-index: 0;
    .row:first-child {
      margin-bottom: 4.9rem;
    }
    &::after {
      text-transform: uppercase;
      display: block;
      content: "age";
      position: absolute;
      bottom: 3rem;
      left: 20.6%;
      font-family: PlayD;
      font-size: pxToRem(370px);
      color: #f7f5f0;
      z-index: -1;
    }
  }

  .sec-03__title {
    text-align: left;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }

  .sec-03__top-content {
    padding-top: 4.3rem;
  }

  .sec-03__subtitle {
    padding-left: 0;
    padding-right: 4rem;
  }

  .sec-03__picture {
    display: flex;
    justify-content: flex-end;
  }

  .sec-03__under-img-text {
    position: static;
    margin-right: 0;
  }

  #sec-03 .row:last-child [class*=col-]:first-child {
    margin-bottom: 0;
  }

  .sec-03__text {
    padding: 0 5.4rem;
  }
}
