#sec-06 {
  padding-top: 1.3rem;
  padding-bottom: 21rem;
  background-color: #f3f0e9;
  background-image: url("img/sec-06/img-sm.png");
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
}

.sec-06__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  line-height: 1.2;
  text-transform: uppercase;
}

.sec-06__list-item {
  margin-bottom: 3rem;
  &:nth-of-type(2) {
    .sec-06__slide__title {
      &::before {
        content: "02";
      }
    }
  }
  &:nth-of-type(3) {
    .sec-06__slide__title {
      &::before {
        content: "03";
      }
    }
  }
  &:nth-of-type(4) {
    .sec-06__slide__title {
      &::before {
        content: "04";
      }
    }
  }
}

.sec-06__slide__title {
  position: relative;
  font-family: OpenSansB;
  font-size: pxToRem(18px);
  margin-bottom: .5rem;
  &::before {
    display: block;
    content: "01";
    position: absolute;
    top: -2.7rem;
    left: 0;
    font-family: PlayD;
    font-size: pxToRem(48px);
    color: #f9e561;
    z-index: -1;
  }
}

.slides {
  padding-top: 3.1rem;
}

.sec-06__slide__text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
}
