#sec-06 {
  padding-top: 1.3rem;
  padding-bottom: 20.7rem;
  background-color: #f3f0e9;
  background-position: bottom;
  background-image: url("img/sec-06/img-sm.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.sec-06__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  line-height: 1.2;
  text-transform: uppercase;
}

.sec-06__list-item {
  margin-bottom: 3rem;
  &:nth-of-type(2) {
    .sec-06__slide__title {
      &::before {
        content: "02";
      }
    }
  }
  &:nth-of-type(3) {
    .sec-06__slide__title {
      &::before {
        content: "03";
      }
    }
  }
  &:nth-of-type(4) {
    .sec-06__slide__title {
      &::before {
        content: "04";
      }
    }
  }
}

.sec-06__slide__title {
  position: relative;
  font-family: OpenSansB;
  font-size: pxToRem(18px);
  margin-bottom: .5rem;
  &::before {
    display: block;
    content: "01";
    position: absolute;
    top: -2.7rem;
    left: 0;
    font-family: PlayD;
    font-size: pxToRem(48px);
    color: #f9e561;
    z-index: -1;
  }
}

#sec-06 .slides {
  padding-top: 3.1rem;
}

.sec-06__slide__text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
}

@media (max-width: 767px) {
  ul.sec-06__list {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-06 {
    padding-top: 6.4rem;
    padding-bottom: 23.1rem;
    background-image: url("img/sec-06/img-md.png");
    .row [class*=col-]:first-of-type {
      padding-left: 5.3rem;
    }
  }

  .sec-06__slider.owl-carousel {
    display: none;
  }

  .sec-06__title {
    font-size: pxToRem(48px);
    margin-bottom: 3.4rem;
  }

  .sec-06__list {
    columns: 2;
    list-style: none;
  }

  .sec-06__list-item {
    padding-right: 5rem;
    margin-bottom: 3.4rem;
    position: relative;
    &:first-of-type {
      padding-top: 2rem;
      .sec-06__list-count {
        top: -.7rem;
      }
    }
    &:nth-of-type(5) {
      padding-top: 2rem;
      .sec-06__list-count {
        top: -.7rem;
      }
    }
    .sec-06__list-count {
      display: block;
      position: absolute;
      top: -2.7rem;
      left: 0;
      font-family: PlayD;
      font-size: pxToRem(48px);
      color: #f9e561;
    }
  }
}

@media (max-width: 1199px) {
  .lg-row {
    display: none;
  }
}

@media (min-width: 1200px) {
  #sec-06 {
    padding-top: 1.6rem;
    padding-bottom: 4rem;
    background-image: none;
    background-color: transparent;
  }

  #sec-06-07 {
    background-image: url("img/sec-06/img-lg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-color: #f3f0e9;
  }

  #sec-06 .row [class*=col-]:first-of-type {
    padding-left: .9rem;
  }

  .sec-06__title {
    margin-bottom: 5.4rem;
  }

  .sec-06__list {
    display: none;
  }

  .sec-06__list-item:first-of-type {
    padding-top: 0;
    padding-right: 3rem;
  }

  .sec-06__list-item:first-of-type .sec-06__list-count {
    top: -2.7rem;
  }

  .sec-06__list-item {
    margin-bottom: 0;
  }

  .row-lg__second-row {
    margin-bottom: 3.4rem;
  }

  .sec-06__slide__title {
    margin-bottom: .7rem;
  }

}
