#sec-13 {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #f3f0e9;
  .break {
    display: block;
  }
  .row [class*=col-]:first-of-type {
    margin-bottom: 2.2rem;
  }
}

.sec-13__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.sec-13__text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
  line-height: 1.5;
}

.sec-13__img-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .sec-13__md-text {
    display: none;
  }
}

@media (min-width: 768px) {
  #sec-13 {
    padding-top: 3.5rem;
    padding-bottom: 6rem;
    .break {
      display: inline;
    }
    .row [class*=col-]:first-of-type {
      margin-bottom: 3.5rem;
    }
  }

  .sec-13__title {
    font-size: pxToRem(48px);
    text-align: center;
    padding: 0 1rem;
    line-height: 1.5;
    margin-bottom: .9rem;
  }

  .sec-13__text {
    text-align: center;
    padding: 0 4.6rem;
  }

  .sec-13__md-text {
    font-family: OpenSansB;
    font-size: pxToRem(18px);
    text-align: center;
    padding: 0 11.2rem;
    line-height: 1.6;
  }

  .sec-13__img-container {
    margin-bottom: 2.8rem;
  }
}

@media (min-width: 1200px) {
  #sec-13 {
    position: relative;
    padding-top: 5.4rem;
    z-index: 0;
    .break {
      display: block;
    }
    &::before {
      display: block;
      content: url("img/sec-13/bg-text.png");
      position: absolute;
      top: 1.8rem;
      left: 30.5%;
      z-index: -1;
    }
  }

  .sec-13__title {
    font-size: pxToRem(48px);
    text-align: left;
    padding: 0;
    margin-bottom: 5.4rem;
  }

  .sec-13__text {
    padding: 0;
    text-align: left;
    padding-right: 6.3rem;
  }

  .sec-13__md-text {
    padding: 0 5.5rem;
  }

  .sec-13__img-container {
    padding-top: 1rem;
    margin-bottom: 3.9rem;
  }
}
