#sec-14 {
  padding-top: 1.7rem;
  padding-bottom: 4rem;
  background-color: #f3f0e9;
  .break {
    display: block;
  }
}

.sec-14__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2.1rem;
}

.sec-14__slide-description {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
  text-align: center;
  line-height: 1.5;
  margin-bottom: .6rem;
}

.sec-14__slide-speacker-name {
  font-family: OpenSansB;
  font-size: pxToRem(18px);
  text-align: center;
}

.video-comment {
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .sec-14__md-comment {
    display: none;
  }
}

@media (max-width: 1199px) {
  #sec-14 {
    .row [class*=col-]:last-of-type {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  #sec-14 {
    padding-top: 3.7rem;
    .break {
      display: inline;
    }
  }

  .sec-14__title {
    font-size: pxToRem(48px);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  .sec-14__picture {
    display: flex;
    justify-content: center;
  }

  .video-comment {
    margin-bottom: 1.7rem;
  }

  .sec-14__slide-description {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  #sec-14 {
    padding-top: 2.6rem;
    padding-bottom: 8rem;
    .row [class*=col-]:first-of-type .sec-14__title {
      display: none;
    }

    .row [class*=col-]:first-of-type {
      position: relative;
      margin-right: 5%;
    }

    .break {
      display: block;
    }
  }

  .sec-14__title {
    font-size: pxToRem(48px);
    text-align: left;
  }

  .sec-14__slide-description {
    padding: 0 1rem;
  }
}
