#sec-09 {
  padding-top: 5.4rem;
  padding-bottom: 3.5rem;
  background-color: #f3f0e9;
}

.sec-09__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.sec-09__slide-count {
  display: inline-block;
  font-family: OpenSansB;
  font-size: pxToRem(16px);
  color: #66655d;
  background-color: #f9e561;
  padding: 0 .4rem;
  margin-bottom: .6rem;
}

.sec-09__slide-title {
  font-family: PlayD;
  font-size: pxToRem(24px);
  text-transform: uppercase;
  background-color: #f9e561;
  display: inline-block;
  padding: 0 .2rem;
  margin-bottom: 1.7rem;
}

.sec-09__slide-content {
  background-color: #fff;
  padding: 2.55rem 1.1rem 1.4rem 1.5rem;
}

.sec-09__slide-content-item {
  margin-bottom: 1.5rem;
}

.sec-09__content-item-title {
  font-family: OpenSansB;
  font-size: pxToRem(18px);
  margin-bottom: .4rem;
}

.sec-09__content-item-text {
  font-family: OpenSansR;
  font-size: pxToRem(16px);
  color: #66655d;
  line-height: 1.5;
}

@media (min-width: 768px) {
  #sec-09 {
    padding-top: 8.9rem;
  }
  .sec-09__title {
    text-align: center;
    font-size: pxToRem(48px);
  }

  .sec-09__slide-count-container {
    text-align: center;
  }

  .sec-09__slide-count {
    display: inline-block;
    text-align: center;
  }

  .sec-09__slide-title {
    text-align: center;
    margin-bottom: 0;
  }

  .sec-09__slide-title-container {
    text-align: center;
    margin-bottom: 2.2rem;
  }

  .sec-09__slider {
    padding: 0 4.4rem;
  }

  .sec-09__slide-content-item {
    text-align: center;
    padding: 0 5rem;
  }

  .sec-09__slide-content {
    padding: 2.55rem 1.1rem 3.1rem 1.5rem;
  }
}
