#sec-12 {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #f3f0e9;
  .break {
    display: block;
  }
}

.sec-12__title {
  font-family: PlayD;
  font-size: pxToRem(36px);
  text-transform: uppercase;
  line-height: 1.2;
  padding-left: .7rem;
  margin-bottom: 2.1rem;
}

.sec-12__img-container {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  #sec-12 {
    overflow: hidden;
    padding-top: 6.4rem;
    padding-bottom: 5.8rem;
    .owl-carousel {
      display: block;
    }
    .break {
      display: inline;
    }
  }

  .sec-12__title {
    font-size: pxToRem(48px);
    padding-left: 1.3rem;
    margin-bottom: 3.2rem;
  }

  .sec-12__slider {
    width: 105%;
  }
}

@media (min-width: 1200px) {
  #sec-12 {
    overflow: hidden;
  }

  .sec-12__slider {
    width: 134.2%;
  }

  .sec-11__slider-img {
    width: 360px;
  }

  .sec-12__title {
    padding-left: .7rem;
  }
}
