@font-face {
  font-family: OpenSansB;
  src: url('fonts/OpenSans-Bold.woff') format("woff"),
       url('fonts/OpenSans-Bold.woff2') format("woff2");
}

@font-face {
  font-family: OpenSansR;
  src: url('fonts/OpenSans-Regular.woff') format("woff"),
       url('fonts/OpenSans-Regular.woff2') format("woff2");
}
