.owl-nav {
  display: flex;
}

.owl-prev {
  margin-right: 1.7rem;
}

#sec-09 .owl-nav {
  justify-content: center;
  margin-top: 1.5rem;
}

#sec-09 .owl-prev {
  margin-right: 1.2rem;
}

#sec-10 .owl-nav {
  justify-content: center;
  margin-top: 1.5rem;
}

#sec-10 .owl-prev {
  margin-right: 1.2rem;
}

#sec-11 .owl-nav {
  justify-content: center;
  margin-top: 2.3rem;
}

#sec-11 .owl-prev {
  margin-right: 1.2rem;
}

#sec-12 .owl-nav {
  margin-top: 1.8rem;
}

#sec-12 .owl-prev {
  margin-right: 1.5rem;
}

#sec-14 .owl-nav {
  justify-content: center;
  margin-top: 2.3rem;
}

#sec-14 .owl-prev {
  margin-right: 1.2rem;
}

.owl-carousel .owl-item img {
  width: auto;
}

#sec-11 .owl-stage-outer {
  padding-top: 4rem;
}
